body{
    width:100%;
    position:absolute;
    top:0;
    bottom:0;
    background:#EEEEEE;
    display:-webkit-flex;
    -webkit-flex-direction:column;
}
.header{
    height:.44rem;
    font-size:.2rem;
    text-align:center;
    background:#fff;
    h1{
    line-height:.44rem;
    font-weight:normal;
    font-size:.2rem;
    }
    .back{
    position:absolute;
    left:.1rem;
    top:.1rem;
    color:#37BB9B;
    i{
    font-size:.28rem;
    }
    }
}
.section{
    flex:1;
    overflow-y:scroll;
    .banner{
    height:1.9rem;
    background:url(../images/banner/banner.gif) no-repeat;
    background-size:100% 100%;
    padding-top:.19rem;
    position:relative;
    .good{
    position:absolute;
    left:.15rem;
    top:.05rem;
    display:flex;
    line-height:.3rem;
    color:#fff;
    span{
    padding-left:.05rem;
    }
    }
    .zixun{
    position:absolute;
    right:.15rem;
    top:.05rem;
    display:flex;
    color:#fff;
    }
    .img{
    width:.9rem;
    height:.9rem;
    margin:0 auto;
    border-radius:100%;
    overflow:hidden;
        img{
        display:block;
        width:100%;
        height:100%;
        }
    }
    h3,p{
    text-align:center;
    color:#fff;
    }
    h3{
    padding-top:.19rem;
    }
    p{
    padding-top:.13rem;
    }
    }
    .list{
    background:#fff;
    display:flex;
    &>li{
    flex-grow:1;
    width:50%;
    text-align:center;
    font-size:.16rem;
    .top{
    width:.65rem;
    height:.65rem;
    background:#FB6D51;
    color:#fff;
    margin:.13rem auto 0;
    border-radius:50%;
    text-align:center;
    line-height:.65rem;
    font-size:.4rem;
    }
    span{
    margin:0 auto;
    line-height:.3rem;
    }
    }
    }
    h2{
    height:.32rem;
    line-height:.32rem;
    font-size:.14rem;
    font-weight:normal;
    }
    .article{
    width:100%;
    background:#fff;
    &>li{
    height:.5rem;
    display:flex;
    line-height:.5rem;
    border-bottom:1px solid #ccc;
    font-size:.16rem;
    p{
    flex-grow:4;
    }
    span{
    flex-grow:1;
    em{
    display:inline-block;
    width:.13rem;
    height:.13rem;
    border-radius:50%;
    background:#FF4B4B;
    margin-right:.05rem;
    }
    }
    }
    }
}
.footer{
    height:.5rem;
    .btn{
    display:flex;
    height:.5rem;
    &>li{
    flex-grow:1;
    width:50%;
    font-size:.16rem;
    line-height:.5rem;
    text-align:center;
    span{
        padding-left:.05rem;
    }
    &:first-child{
        background:#37BB9B;
        color:#fff;
    }
    &:last-child{
        background:#fff;
        color:#37BB9B;
    }
    }
    }
}